.allcontent {
    padding-top: 50px;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(241, 241, 241, 0.673);
    padding-left: 80px;
    height: 1550px;
}

.ls {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.ls:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.04);
}