.allcontent {
    padding-top: 50px;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(241, 241, 241, 0.673);
    padding-left: 90px;
    height: 1250px;
}

.imgs {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

p {
    margin-top: 30px;
    line-height: 30px;
}