* {
    margin: 0;
    padding: 0;
}

.content {
    width: 90%;
    margin: 0 auto;
    height: 1500px;
}

.banner {
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.desc {
    padding-top: 50px;
    margin: 0 auto;
    width: 90%;
}

.desc h2 {
    text-align: center;
    font-weight: 200;
    padding-bottom: 15px;
}

.desc p {
    line-height: 30px;
    text-indent: 2em;
}

.main1 h2 {
    padding: 30px;
}

.choose__inner {
    text-align: center;
}

.choose__inner p {

    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    color: darkgray;
    font-family: '楷体';
}

.condes {
    display: flex;
    justify-content: space-around;
}